*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.icona{
    
    display: inline-block;
    position: relative;
    width: 305px;
}

.sconto{
    background-color: red;
    color: silver;
    position: absolute;
    padding: 3px;
    left: 0;
    top: 75%;
}

.bg-green{
    background-color: darkgreen;
    color: silver;
    position: absolute;
    padding: 3px;
    left: 12%;
    top: 75%;
}

.q-cuore{
    height: 50px;
    width: 50px;
    
    position: absolute;
    right: 0;
    display: inline;
    top: 10%;
    background-color: white;
}

.cuore{
    position: absolute;
    display: inline;
    top: 30%;
    right: 30%;
    color: black;
}

h4{
    color: darkslategray;
}

.p-red{
    color: red;
}

.p-canc{
    text-decoration: line-through;
}

.fissa{
    display: block;
    width: 300px;
}

.effetto{
    display: none;
    width: 300px;
}

.contenitoreimg:hover .fissa{
    display: none;
}

.contenitoreimg:hover .effetto{
    display: block;
}

body{
    width: 80%;
    margin: auto;
}


