*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.icona{
    border: 2px solid red;
    display: inline-block;
    position: relative;
}

.sconto{
    background-color: red;
    color: silver;
    position: absolute;
    padding: 3px;
    left: 0;
    top: 90%;
}

.bg-green{
    background-color: darkgreen;
    color: silver;
    position: absolute;
    padding: 3px;
    left: 6%;
    top: 90%;
}

.q-cuore{
    height: 50px;
    width: 50px;
    
    position: absolute;
    right: 0;
    display: inline;
    top: 10%;
    background-color: white;
}

.cuore{
    position: absolute;
    display: inline;
    top: 30%;
    right: 30%;
    color: black;
}

h4{
    color: darkslategray;
}

.p-red{
    color: red;
}

.p-canc{
    text-decoration: line-through;
}

.fissa{
    display: block;
}

.effetto{
    display: none;
}

.contenitoreimg:hover .fissa{
    display: none;
}

.contenitoreimg:hover .effetto{
    display: block;
}

.icona2{
  position: absolute;
  border: 2px solid red;
  
}

html{
    display: inline-block;
}

.icona3{
    position: absolute;
    border: 2px solid red;
}

.icona4{
    position: absolute;
    border: 2px solid red;
}

.icona5{
    position: absolute;
    border: 2px solid red;
}

.icona6{
    position: absolute;
    border: 2px solid red;
}